# Muhammad Arham Adeel

## K-Nearest - Neighbours
### Practice and task given in the video.

In [1]:
import pandas as pd
df = pd.read_csv("mldata.csv")
df.head()

   age  weight gender likeness   height
0   27    76.0   Male  Biryani  170.688
1   41    70.0   Male  Biryani  165.000
2   29    80.0   Male  Biryani  171.000
3   27   102.0   Male  Biryani  173.000
4   29    67.0   Male  Biryani  164.000

In [2]:
# here i can covert the gender column string to integer
df["gender"] = df["gender"].replace(["Male","Female"],[1,0])
# df["gender"] = df["gender"].replace("Female",0)

In [3]:
df.tail(10)

     age  weight  gender likeness  height
235   20    48.0       1  Biryani   155.0
236   30    50.0       0  Biryani     5.3
237   24    60.0       1  Biryani   114.0
238   22    50.0       1   Samosa     6.0
239   27    63.0       1  Biryani   165.0
240   31    60.0       1   Pakora   160.0
241   26    70.0       1  Biryani   172.0
242   40    80.0       1  Biryani   178.0
243   25    65.0       1  Biryani     5.7
244   33    56.0       0   Samosa   157.0

In [4]:
x = df[["weight","gender"]]
y =df["likeness"]

In [5]:
x.head()

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [6]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [7]:
from sklearn.neighbors import KNeighborsClassifier

# Create and Fit our model

model = KNeighborsClassifier().fit(x,y)
model

KNeighborsClassifier()

In [8]:
model.predict([[70,1]])

array(['Biryani'], dtype=object)

In [9]:
from sklearn.neighbors import KNeighborsClassifier

# Create and Fit our model

model = KNeighborsClassifier(n_neighbors=5).fit(x,y)
predicted = model.predict([[70,1]])
predicted

array(['Biryani'], dtype=object)

In [10]:
model.predict(x)

array(['Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Samosa', 'Pakora', 'Biryani',
       'Samosa', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Samosa',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Pakora', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Samosa', 'Biryani', 'Pakora', 'Biryani', 'Samosa',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Pakora', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Pakora',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Samosa', 'Biryani', 'Biryani', 'Pakora', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Samosa', 'Pakora', 'Samosa', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Samosa', 'Pakora', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Pakora', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani'],
      dtype=object)

# These commad to check where can we used?
- Precision_Score
- recall_score
- f1_score

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score 
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
"""here i can see multiple command to check the accuracy Score

   1- Precision_Score
   2- recall_score
   3- f1_score
""" 

X_train,X_test,y_train,y_test = train_test_split(x , y , test_size = 0.2,random_state = 0) # 80% training data and 20% testing data
## Create a model and fitting a model
model = KNeighborsClassifier()
model.fit(X_train,y_train)
predicted_values = model.predict(X_test)
print(predicted_values)


#Checking Score

score = accuracy_score(y_test,predicted_values)
print()
print("The accuracy score our model = ",score)

['Biryani' 'Biryani' 'Pakora' 'Biryani' 'Samosa' 'Biryani' 'Biryani'
 'Biryani' 'Biryani' 'Biryani' 'Samosa' 'Biryani' 'Samosa' 'Pakora'
 'Biryani' 'Biryani' 'Biryani' 'Biryani' 'Biryani' 'Pakora' 'Biryani'
 'Biryani' 'Biryani' 'Biryani' 'Biryani' 'Biryani' 'Biryani' 'Samosa'
 'Biryani' 'Samosa' 'Biryani' 'Biryani' 'Biryani' 'Biryani' 'Biryani'
 'Biryani' 'Biryani' 'Biryani' 'Samosa' 'Biryani' 'Biryani' 'Biryani'
 'Biryani' 'Biryani' 'Biryani' 'Biryani' 'Biryani' 'Biryani' 'Biryani']

The accuracy score our model =  0.6122448979591837

### recall_score

In [15]:
score = recall_score(y_test,predicted_values, average = "micro")
print()
print("The precisio score of our model = ",score)

The precisio score of our model =  0.6122448979591837

In [16]:
score = recall_score(y_test,predicted_values, average = "macro")
print()
print("The precisio score of our model = ",score)

The precisio score of our model =  0.4016203703703704

In [17]:
score = recall_score(y_test,predicted_values, average = "weighted")
print()
print("The precisio score of our model = ",score)

The precisio score of our model =  0.6122448979591837

### Precision Score

In [21]:
score = precision_score(y_test,predicted_values, average = "weighted")
print()
print("The precisio score of our model = ",score)

The precisio score of our model =  0.5564625850340137

In [22]:
score = precision_score(y_test,predicted_values, average = "macro")
print()
print("The precisio score of our model = ",score)

The precisio score of our model =  0.4472222222222222

In [23]:
score = precision_score(y_test,predicted_values, average = "micro")
print()
print("The precisio score of our model = ",score)

The precisio score of our model =  0.6122448979591837

### f1_score

In [25]:
score = f1_score(y_test,predicted_values, average = "micro")
print()
print("The f1 score of our model = ",score)

The f1 score of our model =  0.6122448979591837

In [26]:
score = f1_score(y_test,predicted_values, average = "macro")
print()
print("The f1 score of our model = ",score)

The f1 score of our model =  0.40079365079365076

In [27]:
score = f1_score(y_test,predicted_values, average = "weighted")
print()
print("The f1 score of our model = ",score)

The f1 score of our model =  0.5670553935860058